/*All Paragraphs Style */

p {
    color: cornflowerblue;
    font-size: 14px;
    font-weight: bold;
}

/* Style for level 2 headers */
h2 {
    color: midnightblue;
    text-decoration: underline;
}

/* Table styled with border */
table {
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    border-collapse: collapse;
}

/* Special styling for third paragraph*/
p#special-third {
    font-size: 16px;
    color: mediumpurple;
    font-weight: bold;
}

/* Class used to highlight*/
.highlight {
    background-color: midnightblue;
    color: dodgerblue;
}

/* Logo class for image size*/
img.logo {
    width: 267px;
    height: 72px;
}