<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Michael</title>
    </head>
    <body>
        <h1>Learn About Michael</h1>
        <h2>Background</h2>
            <p>I am from <strong>Stony Brook, NY</strong>.
                I am <strong>21</strong> years old and I am a senior at the University of Maryland.<br>
                I am a finance and information systems major in the Smith School of Business.</p>

        <!-- Putting an image underneath the background section-->
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
               width ="267" height ="72" alt="Smith Logo">


        <h2>Favorite Hobbies</h2>
            <ul>
                <!-- Created an unordered list to show my favorite hobbies-->
                <li>Pickup Basketball</li>
                <li>Golfing</li>
                <li>Video Games</li>
                <li>Going to Maryland Sporting Events</li>
                <li>Coding</li>
            </ul>
        <h3>Fun Fact: I studied abroad in Barcelona in spring 2025</h3>
        <p>My <em>favorite</em> places I visited:</p>
                <ol>
                    <!-- Created an ordered list to show my favorite places-->
                    <li>Dublin</li>
                    <li>Amsterdam</li>
                    <li>Interlaken</li>
                    <li>Rome</li>
                    <li>Venice</li>
                </ol>
        <h3>Courses I took last academic year:</h3>
            <table>
                <!-- Created a table to display courses taken in past year-->
                <tr>
                    <th>Course</th>
                    <th>Semester</th>
                <tr>
                    <td>BMGT302</td>
                    <td>Fall 2024</td>
                </tr>

                <tr>
                    <td>BMGT332</td>
                    <td>Fall 2024</td>
                </tr>

                <tr>
                    <td>BMGT446</td>
                    <td>Spring 2025</td>
                </tr>

                <tr>
                    <td>BMGT495</td>
                    <td>Spring 2025</td>
                </tr>

            </table>

        <!-- Creating hyperlinks to my favorite websites-->
        <h4>My <em>Favorite</em> Websites</h4>
                <p>A link to <a href="https://chatgpt.com" target="_blank">ChatGPT</a>.</p>
                <p>A link to <a href="https://www.espn.com" target="_blank">ESPN</a>.</p>
                <p>A link to <a href="https://www.nytimes.com/crosswords/game/mini"
                                target="_blank">NY Times Mini Crossword</a>.</p>



        <h4>Hello Route</h4>
            <!-- Creating a relative hyperlink to get back to the hello route-->
            <p>A link to <a href="/hello" target="_blank">Hello</a>.</p>

    </body>
</html>